.actions{
  .actions-in-left{
    .btn{
      margin-right:5px;
      padding-left:14px;
      padding-right:11px;
      padding-top: 5px;
      padding-bottom: 7px;
      background: inherit;
      span{
        vertical-align: middle;
      }
      &.btn-like,&.btn-status-disliked{
        &.btn-status-liked,&.btn-status-disliked{
          span{
            color:#0099ff;
          }
        }
      }
      &.btn-unlike{

      }
      &.btn-comment{

      }
    }
    .glyphicon{
      color: #999;
      font-size: 20px;
    }
  }
  .actions-in-right{
    color:white;
    .btn:hover{
      color:white;
    }
    .btn-share-facebook{
      background-color: #3B5998;
    }
    .btn-share-twitter{
      background-color: #BD081C;
    }
  }
}
